/* header.php */

#logo {
	background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    height: 48px;
    margin: 12px;
    width: 190px;
    position: relative;
}

#gravatar {
	background: url("http://www.gravatar.com/avatar/f688fc76f04dba123beca8c856915f2e.png?s=48") no-repeat scroll 0 0 transparent;
	width:48px;
	height:48px;
	position: absolute;
	left: 1px;
	top: 1px;
}

#header #navigation .page_item.page-item-948,
#header #navigation .page_item.page-item-877
{
	display: none;
}

#slider {
    margin-bottom: 60px;
}

#page-title, #page-title a {
	float: none;
	width: auto;
	background-color: transparent;
	margin-top: 5em;
}

#page-title h1 {
	margin-bottom: 0;
}

#features .feature:nth-last-of-type(1) {  
   margin-right: 0 !important;  
}

#post-5 .social-links {
	float: none;
	margin-left: -.5em;
	display: inline-block;
}

.post h2 {
	color: #23abf1;
}

.post:nth-child(1)
{
	margin-top: 50px;
}

.post .post-content img {
	margin: 0px 1px 0px 0px;
}

.resume h2, .resume h3, .resume h4 {
	margin: 10px 0 0;	
}

.resume h3 {
	font-weight: 600;
}

.resume h3, .resume h4 {
	color: #757B7F;
}

.resume p {
	margin-top: 0;
}

.resume #main li {
	list-style: disc inside;
	margin-left: 1em;
}

#footer {
	margin: 30px 0 0;
}

.footer-address a {
	color: #757B7F;
}

.footer-address a:hover {
	color: #ffffff;
}

.footer-right {
	float: right;
}